Source: image-gallery
Section: graphics
Priority: optional
Maintainer: dleonard <dleonard@dleonard.net>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/dleonard04/image-gallery

Package: image-gallery
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perlmagick, libtemplate-perl
Description: Image::Gallery
 Perl modules and tools for generating static HTML image galleries from
 directories of images.  Resizes images with PerlMagick to build thumbnails
 and renders pages through the Template Toolkit.
